{{#each this.productIds as |id|}}
  <button class="my-2" {{on "click" (fn this.removeProduct id)}}>Verwijder product {{id}}</button>
{{/each}}

{{#each this.productIds as |id|}}
  <p>Product met id {{id}}</p>
{{/each}}

<p>{{this.productIds}}</p>
