<div class="container">
  <h1>Zoek rackets</h1>
  <p>Zoek hier de beschikbare rackets</p>
  <Products @products={{@model.products}} />
{{!--   <button onclick={{action selectProduct}}>
    Click me!
  </button> --}}
  <Selection></Selection>
  {{!-- {{debugger}} --}}
</div>
